<form  class="full-width" [formGroup]="formDetailNoPagoCesantias"  (ngSubmit)="subirDatosNoPagoCesantias()">

    <div class="container">
    
      <h5 class="titulo">Detalle conflicto no pago de cesantias</h5>
    
      <mat-card class="card">
    
        
    
          <mat-form-field class="half-width">
              <input matInput [matDatepicker]="picker1" placeholder="Ingrese fecha de últimas cesantias pagadas" 
              (click)="picker1.open()" formControlName="fechaInicioNoPagoCesantias">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker touchUi #picker1></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="half-width">
              <input matInput [matDatepicker]="picker2" placeholder="Ingrese fecha de últimas cesantias pagadas" 
              (click)="picker2.open()" formControlName="fechaFinalNoPagoCesantias">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker touchUi #picker2></mat-datepicker>
            </mat-form-field>
          
            </mat-card>
  
            <button mat-flat-button class="btn btn-success"
            type="submit"
            [disabled]="!this.formDetailNoPagoCesantias.valid"
            >
            Continuar
          </button>
          </div>
        </form>