.container{
	width: 100%;
	height: auto;
	margin: auto;

	padding: 0 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


.titulo{
	color: #2196f3;
	font-size: 2rem;
	font-weight: normal;
	line-height: 110%;
	margin-top: 1rem;
	text-align: center;
}

.Subtitulo{
	color: #2196f3;
	font-size: 1rem;
	font-weight: normal;
	line-height: 90%;
	margin-top: 1rem;
	text-align: center;
}

form{
  width: 100%;
	height: 100%;
  display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


.nombre-inputs{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.half-width{
	width: 49%;
	justify-content: center;
	align-items: center;
	
}

.mb-1{
	margin-bottom: 1rem;
}


@media (max-width: 470px) {
	.nombre-inputs{
	  display: flex;
	  flex-direction: column;
	  justify-content: space-between;
	}
	.half-width{
	  width: 100%;
	}
}
